---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<div class="wordwrap"><a href="https://www.nature.com/articles/s41550-024-02414-5">A dry Venusian interior constrained by atmospheric chemistry</a>.<br>
<b>Constantinou, T.</b>, Shorttle, O., Rimmer, P.B., 2024 <br>
  <i>Published in Nature Astronomy</i>
</div> <br>

<div class="wordwrap"><a href="https://doi.org/10.48550/arXiv.2410.13457">Large Interferometer For Exoplanets (LIFE). XIV. Finding terrestrial protoplanets in the galactic neighborhood</a>.<br>
Cesario, L., Lichtenberg, T., Alei, E., Carri&#243;n-Gonz&#225;lez, &#211;., ... <b>Constantinou, T.</b>, ... the LIFE Collaboration, 2024 <br>
  <i>Published in Astronomy & Astrophysics</i>
</div> <br>

 <div class="wordwrap"><a href="https://iopscience.iop.org/article/10.3847/1538-4357/ac1d46">Hydroxide Salts in the Clouds of Venus: Their Effect on the Sulfur Cycle and Cloud Droplet pH</a>.<br>
Rimmer, P.B., Jordan, S., <b>Constantinou, T.</b>, Woitke, P., Shorttle, O., Hobbs, R., Paschodimas, A., 2021 <br>
  <i>Published in The Planetary Science Journal</i>
</div> <br>

<div class="wordwrap"><a href="https://iopscience.iop.org/article/10.3847/1538-4357/ac1d46">Photochemistry of Venus-like Planets Orbiting K- and M-dwarf Stars</a>.<br>
Jordan, S., Rimmer, P.B., Shorttle, O., <b>Constantinou, T.</b>, 2021 <br>
<i>Published in The Astrophysical Journal</i>
</div> <br>


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} <br>

<!-- 
{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


