---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

 <div class="wordwrap"><a href="https://iopscience.iop.org/article/10.3847/1538-4357/ac1d46">Hydroxide Salts in the Clouds of Venus: Their Effect on the Sulfur Cycle and Cloud Droplet pH</a>.<br>
Rimmer, P.B., Jordan, S., <b>Constantinou T.</b>, Woitke, P., Shorttle, O., Hobbs, R., Paschodimas, A., 2021
</div>

<div class="wordwrap"><a href="https://iopscience.iop.org/article/10.3847/1538-4357/ac1d46">Photochemistry of Venus-like Planets Orbiting K- and M-dwarf Stars</a>.<br>
Jordan, S., Rimmer, P.B., Shorttle, O., <b>Constantinou T.</b>, 2021
</div>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



