---
layout: archive
title: "Talks and posters"
permalink: /talks/
author_profile: true
---



 <div class="wordwrap">

<b>Invited talk: "Was Venus Ever Habitable?"</b> <br>
<a href="https://www.oeaw.ac.at/iwf/aktuelles/layer/news/veredo-kick-off-meeting">VeReDo</a> Kick-off Meeting, Graz, Austria, November 2024 <br> <br>

<b>Invited Poster: "Comparative Biosignatures"</b> and co-organiser of breakout session<br>
Origins Federation, Cambridge, UK, September 2024 <br> <br>

<b>Co-organised:</b> <br>
LCLU Annual Science Day, Cambridge, UK, March 2024 <br> <br>

<b>Invited Seminar: "Link Between Geochemistry and Atmospheres"</b> <br>
LCLU Coffee Meetings, Cambridge, UK, January 2024 <br> <br>

<b>Talk: "Was Venus Ever Habitable?"</b> <br>
Rocky Worlds III, Zurich, Switzerland, January 2024 <br> <br>

<b>Talk: "Was Venus Ever Habitable?"</b> <br>
IoA Wednesday Seminar, Cambridge, UK, October 2023 <br> <br>

<b>Invited Poster: "Was Venus Ever Habitable?"</b> <br>
Life in the Universe II, Boston, US, September 2023 <br> <br>

<b>Talk: "Was Venus Ever Habitable?"</b> <br>
UKEXOM 2023, London, UK, August 2023 <br> <br>

<b>Talk: "Was Venus Ever Habitable?"</b> <br>
LCLU Science Day, Cambridge,UK,  March 2023 <br> <br>

<b>Invited talk: "Venus as Candidate for Constraining Volcanism and Surface Conditions"</b> <br>
RAS Specialist Discussion Meeting: Abiotic baselines in astrobiology, London, UK, January 2023


</div> <br>



{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 -->
