---
layout: archive
permalink: /year-archive/
title: "Non-research"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---
Often found on weekend adventures, cycling day-trips around Cambridge, out for a walk, reading at a coffee shop, 
or trying to earn a solo gliding license when the weather allows! I also solo-travel and explore as much as possible, 
with only 1 continent to go!

<figure>
  <img src="/images/antarctica.jpg" alt="Kayaking in Antarctica" style='max-width: 10%; max-height: 10%'>
  <figcaption>Kayaking in Antarctica</figcaption>
</figure>


<figure>
  <img src="/images/thailand.jpeg" alt="Hiking and bamboo-rafting in a jungle in north Thailand" style='max-width: 10%; max-height: 10%'>
  <figcaption>Hiking and bamboo-rafting in a jungle in north Thailand</figcaption>
</figure>

<figure>
  <img src="/images/kenya.jpg" alt="Breakfast after summiting Mt Kenya" />
  <figcaption>Breakfast after summiting Mt Kenya</figcaption>
</figure>

<figure>
  <img src="/images/sailing.jpg" alt="Sailing around the Aeolian Islands with Stromboli erupting in the background" style='max-width: 10%; max-height: 10%'>
  <figcaption>Sailing around the Aeolian Islands with Stromboli erupting in the background</figcaption>
</figure>

<figure>
  <img src="/images/gliding.jpeg" alt="Look mum, no hands! (Gliding over Cambridgeshire)" style='max-width: 10%; max-height: 10%'>
  <figcaption>Look mum, no hands! (Gliding over Cambridgeshire)</figcaption>
</figure>

<!-- 
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
 -->
